<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script> 
</head>
<body>
    {{>navbar}}
    
    {{>header}}
    
    <div id="portrait">
        <img src="/img/portrait-generic-male.jpg" alt="Portrait of the Author.">
    </div>

    <div id="main">
        <h4>Hi, I am Matteo.</h4>
        <p>I am trying to learn Express (and Node more in general).</p>
        <p>Currently following Andrew Mead's course on Udemy.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellendus deleniti, mollitia vitae minima officia nostrum, non, eaque a fuga rem! Impedit pariatur cupiditate quidem eius ab maiores soluta, eaque fugit harum ex aperiam sit accusamus consectetur laudantium alias explicabo vero sunt veniam minima accusantium? Impedit, possimus! Earum, quibusdam reiciendis temporibus repudiandae suscipit blanditiis error nesciunt nostrum consequuntur incidunt necessitatibus veritatis magnam possimus. Ut dicta voluptas accusantium! Maiores aliquid debitis ipsa magnam officiis, voluptas in dolorem, aspernatur repellat pariatur alias.</p>
    </div>
    
    {{>footer}}
</body>
</html>